.register {
  max-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 79dvh;
  margin: auto;
}

.register h1 {
  font-size: 2rem;
}

.register p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.register form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.register form label {
  display: flex;
  flex-direction: column;
  gap: .2rem;
}

.register form label span {
  font-size: 1rem;
}

.register form label input {
  height: 2rem;
  margin-bottom: 1rem;
  border: none;
  outline: none;
  border-bottom: 2px solid #111;
  font-size: 1rem;
  padding-left: .2rem;
}

.register form label input:focus {
  border-color: #1FDF64;
  transition: all .5s ease-in-out;
}

.register form .btn {
  height: 3rem;
  border-radius: 8px;
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
  color: #fff;
  background: #111;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.register form .btnLoading {
  height: 3rem;
  border-radius: 8px;
  outline: none;
  border: 2px solid transparent;
  cursor: pointer;
  color: #111;
  background: #d6d6d6;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.register form .error {
  text-align: center;
  padding: .5rem 0;
  border-radius: 8px;
  background: #FFF5F5;
  border: 1px solid #E34343;
  color: #E34343;
}


@media screen and (max-width: 468px) {
  .register {
    max-width: 80%;
  }
}