.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
}

.logo {
  font-size: 1.2rem;
  font-family: var(--font-inter);
}

.copy {
  font-size: 1rem;

  a {
    color: #000;

    &::after {
      color: #000;
    }
  }
}

.divPowered {
  display: flex;
  align-items: center;

  .powered {
    font-size: 1rem;
  }

  img {
    width: 2.5rem;
  }
}
